{% block detectiveNotebook %}
    <table class="DetectiveNotebookTable">
        <tr class="CardTypeHeader">
            <td colspan="2">Suspects</td>
        </tr>
        {% for suspect, player in suspect_dict.items() %}
        <tr>
            <td> {{ suspect }} </td>
            {% if player == "SOLUTION" %}
                <td class="Solution"> {{ player }} </td>
            {% else %}
                <td> {{ player }} </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class="CardTypeHeader">
            <td colspan="2">Weapons</td>
        </tr>
        {% for weapon, player in weapon_dict.items() %}
        <tr>
                <td> {{ weapon }} </td>
                <td> {{ player }} </td>
        </tr>
        {% endfor %}
        <tr class="CardTypeHeader">
            <td colspan="2">Rooms</td>
        </tr>
        {% for room, player in room_dict.items() %}
        <tr>
                <td> {{ room }} </td>
                <td> {{ player }} </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}