{% block detectiveNotebook %}
    <h1>Detective notebook</h1>
    <h2>Suspects</h2>
    <table>
        <tr>
            <th>Suspect</th>
            <th>Player</th>
        </tr>
        {% for suspect, player in suspect_dict.items() %}
        <tr>
                <td> {{ suspect }} </td>
                <td> {{ player }} </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Weapons</h2>
    <table>
        <tr>
        <th>Weapon</th>
        <th>Player</th>
        </tr>
        {% for weapon, player in weapon_dict.items() %}
        <tr>
                <td> {{ weapon }} </td>
                <td> {{ player }} </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Rooms</h2>
    <table>
        <tr>
        <th>Room</th>
        <th>Player</th>
        </tr>
        {% for room, player in room_dict.items() %}
        <tr>
                <td> {{ room }} </td>
                <td> {{ player }} </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}