{% extends "layout.html" %}

{% block body %}

<h1>Who disproved you?</h1>
<form action="{{ url_for('enterDisprove') }}" method="post">
    Suspect: <input type="text" name="guessed_suspect" value="{{ guessed_suspect }}" readonly><br />
    <select name="disprover_suspect">
        <option value="">No one</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <br />
    Weapon: <input type="text" name="guessed_weapon" value="{{ guessed_weapon }}" readonly><br />
    <select name="disprover_weapon">
        <option value="">No one</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <br />
    Room: <input type="text" name="guessed_room" value="{{ guessed_room }}" readonly><br />
    <select name="disprover_room">
        <option value="">No one</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <br />
    <input type="submit" value="Submit">
</form>
    
{% endblock %}