{% extends "layout.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/Guess.js') }}"></script>
{% endblock %}

{% block body %}

<div class="col-md-8">
    <h1>Make a guess</h1>
    <form action="{{ url_for('enterGuess') }}" method="post" onsubmit="return validate()">
        What was the guess?<br />
        {% include "CardCombos.html" %}

        <div id="Disprovers">
            Who disproved <span id="disproverRoomText">room</span>?<br />
            <select name="disprover_room" class="disprovers" required>
                <option value="" selected disabled hidden>Select one...</option>
                <option value="">No one</option>
                {% for player in players %}
                <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </select><br />
            
            Who disproved <span id="disproverSuspectText">suspect</span>?<br />
            <select name="disprover_suspect" class="disprovers" required>
                <option value="" selected disabled hidden>Select one...</option>
                <option value="">No one</option>
                {% for player in players %}
                <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </select><br />

            Who disproved <span id="disproverWeaponText">weapon</span>?<br />
            <select name="disprover_weapon" class="disprovers" required>
                <option value="" selected disabled hidden>Select one...</option>
                <option value="">No one</option>
                {% for player in players %}
                <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </select><br />

            {% include "submit.html" %}
        </div>
    </form>

    {% include "cancel.html" %}
</div>

<div class="col-md-4">
    {% include "DetectiveNotebook.html" %}
</div>
    
{% endblock %}