{% extends "layout.html" %}

{% block body %}
    <form action="{{ url_for('enterCards') }}" method="post">
        <h1>Enter your cards</h1>
        <h2>Suspects</h2>
        {% for suspect in suspects %}
            <input type="checkbox" value="{{ suspect }}" name="suspects">{{ suspect }}<br>
        {% endfor %}
        <h2>Weapons</h2>
        {% for weapon in weapons %}
            <input type="checkbox" value="{{ weapon }}" name="weapons">{{ weapon }}<br>
        {% endfor %}
        <h2>Rooms</h2>
        {% for room in rooms %}
            <input type="checkbox" value="{{ room }}" name="rooms">{{ room }}<br>
        {% endfor %}
        <h1>Enter other players</h1>
        <table>
            <tr>
                <th>Player name</th>
                <th>Number of cards</th>
            </tr>
            {% for i in range(2, 11) %}
            <tr>
                <td><input type="text" name="Player_{{ i }}"></td>
                <td><input type="number" step="1" name="num_cards_{{ i }}"></td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}