{% extends "layout.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/myNotebook.js') }}"></script>
{% endblock %}

{% block body %}
    
    <div class="col-md-4">
    {% include "DetectiveNotebook.html" %}
    </div>

    <div class="col-md-8">
        <h1>Actions</h1>
        <a href="{{ url_for('snoop') }}" class="btn btn-block">Snoop</a><br />
        <a href="{{ url_for('guess') }}" class="btn btn-block">Guess</a><br />
        <a href="{{ url_for('otherPlayerGuess') }}" class="btn btn-block">Enter another player's guess</a><br />
        <a href="{{ url_for('fixProblems') }}" class="btn btn-block">Fix incorrect information</a>

    {% include "log.html" %}

    <a href="javascript:;" onclick="copyGameLogToClipboard();">Copy game log to clipboard</a><br />
    <a href="{{ url_for('endGame') }}">End game</a>
    </div>

{% endblock %}