{% extends "layout.html" %}

{% block body %}
    
    <div class="col-md-4">
    {% include "DetectiveNotebook.html" %}
    </div>

    <div class="col-md-8">
        <h1>Actions</h1>
        <a href="{{ url_for('snoop') }}" class="btn btn-default">Snoop</a><br />
        <a href="{{ url_for('guess') }}" class="btn btn-default">Guess</a><br />
        <a href="{{ url_for('otherPlayerGuess') }}" class="btn btn-default">Enter another player's guess</a>

    {% include "log.html" %}
    </div>

{% endblock %}