{% extends "layout.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/OtherPlayerGuess.js') }}"></script>
{% endblock %}

{% block body %}

<div class="col-md-4">
    <h1>Enter another player's guess</h1>
    <form action="{{ url_for('enterOtherPlayerGuess') }}" method="post">
        <div id="Guesser">
        Which player guessed?<br />
        <select name="guesser" id="guesserCombo" required onchange="showHideGuess(this); hideGuesserInDisprovers(this);">
            <option value="" selected disabled hidden>Select one...</option>
            {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
            {% endfor %}
        </select><br />
        </div>

        <div id="Guess">
        What was the guess?<br />
        {% include "CardCombos.html" %}
        </div>

        <div id="Disprovers">
        Which players disproved?<br />
        {% for player in players %}
            <div class="disproverCheckbox" id="{{ player }}Checkbox" ><input type="checkbox" value="{{ player }}" name="disprovers">{{ player }}<br></div>
        {% endfor %}

        {% include "submit.html" %}
        </div>
    </form>

    {% include "cancel.html" %}
</div>

<div class="col-md-4">
    {% include "DetectiveNotebook.html" %}
</div>

{% endblock %}