{% extends "layout.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/StartGame.js') }}"></script>
{% endblock %}

{% block body %}

<div class="col-md-12"></div>
    <form action="{{ url_for('enterCards') }}" method="post" onsubmit="return validate()">
        
        <h1>Enter your cards</h1>

        <table class="DetectiveNotebookTable">
            <tr class="CardTypeHeader">
                <td colspan="2">Suspects</td>
            </tr>
            {% for suspect in suspects %}
            <tr>
                <td><input type="checkbox" class="form-check my_card_checkbox" value="{{ suspect }}" name="suspects"></td>
                <td> {{ suspect }} </td>
            </tr>
            {% endfor %}
            <tr class="CardTypeHeader">
                <td colspan="2">Weapons</td>
            </tr>
            {% for weapon in weapons %}
            <tr>
                <td><input type="checkbox" class="form-check my_card_checkbox" value="{{ weapon }}" name="weapons"></td>
                <td> {{ weapon }} </td>
            </tr>
            {% endfor %}
            <tr class="CardTypeHeader">
                <td colspan="2">Rooms</td>
            </tr>
            {% for room in rooms %}
            <tr>
                <td><input type="checkbox" class="form-check my_card_checkbox" value="{{ room }}" name="rooms"></td>
                <td> {{ room }} </td>
            </tr>
            {% endfor %}
        </table>

        <h1>Enter other players</h1>
        <table>
            <tr>
                <th>Player name</th>
                <th>Number of cards</th>
            </tr>
            {% for i in range(2, 11) %}
            <tr class="other_players">
                <td><input type="text" class="form-control player_name" name="Player_{{ i }}"></td>
                <td><input type="number" class="form-control num_cards" step="1" name="num_cards_{{ i }}"></td>
            </tr>
            {% endfor %}
        </table>
        {% include "submit.html" %}
        <p id="validation"></p>
    </form>
</div>
{% endblock %}